<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Landing Page Template</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

</head>

<body>

  <!--home-->
  <div class="home container-xxl min-vh-100 m-vw-100 p-0 ">

    <nav class="navbar  navbar-expand-lg bg-dark">

      <div class="container-fluid">
        <a class="navbar-brand fs-1 text-light  " href="#">Lorem<span class="text-success">Gpsum</span></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-10 w-50 d-flex justify-content-evenly me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">GALLERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">CONTACT</a>
            </li>


          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- home  -->


    <div class=" d-lg-inline-flex justify-content-center align-items-center  mh-75 p-3">

      <div class="content ">
        <h1 class="text-light">HOME PAGE</h1>
        <h1 class="text-secondary">LANDING PAGE</h1>
        <p class="text-white-50 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur illo ipsam,
          debitis ullam recusandae et
          voluptatem cupiditate accusamus praesentium beatae. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Aspernatur animi tempore fuga quibusdam labore eos nulla, quaerat consequatur ipsa expedita autem at eaque
          maxime nesciunt doloremque velit perferendis sapiente amet!</p>
        <div class="flex flex-wrap  m-2 align-items-center justify-content-center ">
          <button type="button" class="btn btn-lg btn-outline-success px-5 m-2">Success</button>
          <button type="button" class="btn btn-lg btn-success px-5 m-2">Success</button>
        </div>
      </div>

      <img class="rounded-circle w-75 h-75 "
        src="https://img.freepik.com/premium-photo/business-background-teamwork-double-exposure-effect-with-city-buildings-illustration_691560-8262.jpg"
        alt="">
    </div>
  </div>


  <!-- ABOUT -->

  <div class="container-xxl min-vh-100 m-vw-100 p-0">

    <h1 class="text-center p-5 pb-0">Lorem, ipsum <span class="text-success">dolor</span>.</h1> <!-- head -->
    <p class="text-black-50 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
      ducimus omnis illum!</p>

    <div class="container"><!-- body -->
      <div class="row align-items-center">
        <div class="col-12 col-md-6"> <!-- Content -->
          <h1 class="text-secondary">Lorem, ipsum dolor.</h1>
          <p class="text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur illo ipsam,
            debitis ullam recusandae
            et voluptatem cupiditate accusamus praesentium beatae. Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Aspernatur animi tempore fuga quibusdam labore eos nulla, quaerat consequatur ipsa expedita autem at
            eaque maxime nesciunt doloremque velit perferendis sapiente amet! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Consequatur illo ipsam, debitis ullam recusandae et voluptatem cupiditate accusamus
            praesentium beatae. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur animi tempore fuga
            quibusdam labore eos nulla, quaerat consequatur ipsa expedita autem at eaque maxime nesciunt doloremque
            velit perferendis sapiente amet!</p>
        </div>

        <div class="col-12 col-md-6"> <!-- IMAGE -->
          <img class="rounded  w-100 h-100 "
            src="https://thumbs.dreamstime.com/b/old-book-flying-letters-magic-light-background-bookshelf-library-ancient-books-as-symbol-knowledge-history-218640948.jpg"
            alt="">
        </div>
      </div>
    </div>

  </div>



  <!-- Carousel -->

  <h1 class="text-center p-5 pb-0">Lorem, ipsum <span class="text-success">dolor</span>.</h1> <!-- head -->
  <p class="text-black-50 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
    ducimus omnis illum!</p>


  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoBfqJLGo9eFDWmtXVjJYRmzR_umUGTfeHdc45wr14Qw&s"
          class="d-block w-100" alt="...">

        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb3NtsByWvV7bMzmAtchT45cTzcI9-C-PtymDrWZ9wDw&s"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR856fAizMUKVPLPfamXJzk9USkQJtlvbGjW446g0PWvA&s"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--  Services -->

  <div class="container-xxl min-vh-100 m-vw-100 p-0">

    <h1 class="text-center text-success p-5 pb-0">Lorem, ipsum <span class="text-dark">dolor</span>.</h1> <!-- head -->
    <p class="text-black-50 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
      ducimus omnis illum!</p>


    <div class="container ">
      <div class="row justify-content-center gap-4 ">

        <div class="col">
          <div class="card m-auto" style="width: 18rem;">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAT-xYms93u2xSGYRqxRToPIioQBjd9FsD75ZZ4-JcnQ&s"
              class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card m-auto" style="width: 18rem;">
            <img src="https://knackforge.com/wp-content/uploads/2022/11/Benefits-of-ReactJS.jpg" class="card-img-top"
              alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card m-auto" style="width: 18rem;">
            <img src="https://miro.medium.com/v2/resize:fit:1000/1*v3XndYeIsBtk4CkpMf7vmA.jpeg" class="card-img-top"
              alt="...">
            <div class="card-body">
              <p class="card-text">Some .quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card m-auto" style="width: 18rem;">
            <img src="https://google.github.io/sqlcommenter/images/sequelize-logo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card m-auto" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-vector/blockchain-line-icon-logo-concept-260nw-754816570.jpg"
              class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>

        <div class="col ">
          <div class="card m-auto" style="width: 18rem;">
            <img
              src="https://media.licdn.com/dms/image/D4E12AQHozFEP5_f2kg/article-cover_image-shrink_600_2000/0/1698169420476?e=2147483647&v=beta&t=qBR7mgi-fBSUx6c4AppGy5Q7L9osw3ragm0iSJ5j8UM"
              class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>




  <!-- Footer -->

  <div class=" text-light bg-dark text-center mt-5 p-3">
    created by <span class="text-success">@RGM</span> || All Rights Reserved
  </div>


  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>