* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* team work background with black effect */
  .home {
    background: url(https://www.shutterstock.com/image-photo/business-team-meeting-600nw-107480708.jpg)
      center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  
  .navbar a:hover{
      color: green !important;
  }
  
  .carousel{
      height: 80vh !important;
  }
  
  .carousel img{
      height: 80vh !important;
     filter: brightness(70%) !important;
  
  }