.main{
    height: 100vh;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: brown;
    height: 100%;
    width: 20%;
    display: inline-block;

}
.content{

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: bisque;
    height: 100%;
    width: 80%;
    display: inline-block;
    overflow: auto;
}

